<div>
    <h1 class="nook">{{ title }}</h1>
    <app-nav></app-nav>
    <app-user-summary></app-user-summary>
    <!-- 
        <home-main-container-component *ngIf="showHome"><home-main-container-component/>
        <u-main-container-component *ngIf="showU"><u-main-container-component/>
        <v-main-container-component *ngIf="showV"><v-main-container-component/>
        <w-main-container-component *ngIf="showW"><w-main-container-component/>
        <x-main-container-component *ngIf="showX"><x-main-container-component/>
        <y-main-container-component *ngIf="showY"><y-main-container-component/>
        <z-main-container-component *ngIf="showZ"><z-main-container-component/>
     -->
</div>